language: node_js
node_js:
- 14.16.0
script:
- echo 'Starting build..'
- echo 'Installing dependencies..'
- npm install
- echo 'Running tests..'
- mocha
notifications:
  slack: travisci:rE46Ewd4sCcMxcxBuewneWCa
deploy:
  provider: heroku
  app: travis-deploy
  api_key: $heroku_api_key
  skip_cleanup: true
  on:
    all_branches: true