language: node_js
node_js:
- 14.16.0
script:
- echo 'Starting build..'
- echo 'Installing dependencies..'
- npm install
- echo 'Running tests..'
- mocha
notifications:
  slack: travisci:rE46Ewd4sCcMxcxBuewneWCa
deploy:
  provider: heroku
  app: travis-deploy
  skip_cleanup: true
  on:
    all_branches: true
  api_key:
    secure: 5qp1rd/Hk7KbyL4L4mhaV/jJtLQUj0qzmn+2KXEQF1tfROKTn38YmDPf0UDBb6G1dr56o9KoTk0UB5UjZJEfLeMtCAl+macVhD7QuXaJy1fsoB6YLjDLTC2zxt0h2rcuGqrjtvZgxEMNetXR1xgR9DiOZ8CoVAGafOLBY0p7Kk/dCHemYB66aiFv9GZQZrFCwMaEIA6VtTzx2CrfCaj+NqupBunC1Jf/v1J1xtq5Mhc0aDgoK9mHPv5S4OaCryiSXYhMoYM8+6OjjxFq83QqJ2nfrO8PUprznJmKAOugHsxa9RxT6kyIu1Yc/+83J7m2woNlY60Gl1SRmalhXY3ZYONMt40sCPVf68pcfOVGFQwF1G6WC/d7ZhwXJsnJqQpXc/Xzw/8d3poFBpGqxu993xRvpfVYJ9M3CC+48Yt03SzeFb5J11WNJYsRY1lE/7gGnxVAWf1QTFHRlF946ckK4I/Yiqo3yGoxiNMox/NV8WKYcLnRI/9FpyrWwWbGMYKNyYmn9GCBjy/e5iOljSBf5IQCTol2A9X+Wsvy2Cx+UbRtXnyit2psbIonqSUGrEMD6UtFib0qh2Ki28f4UHWTuG4Yz/fQcCFWKPguKfdPY/zIqicDYTlb3neW+GRtNSUmXqd2hAQUkjQZfUbzIqzYlw2jJdb9DksrActtE3XKr1c=
